<?xml version="1.0"?>
<appSettings>
    <add key="TituloAplicacion" value="Foco en Obra 2016"/>
    <add key="GrillaPageSize" value="15"/>
    <add key="FocoEnObra" value="Foco38Obra2013"/>
    <add key="version" value=" (20161024)"/>
  <add key="carpetaImagenes" value="~\ImgGaleria\"/>
    <!--<add key="PaginaInicio" value="~/Sistema/DesarrolloInicio.aspx"/>-->
  <add key="PaginaInicio" value="~/Sistema/FrmInicio.aspx"/>
</appSettings>
